@font-face {
    font-family: 'opensans';
    src:url(../font/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'opensans-bold';
    src:url(../font/OpenSans-Bold.ttf);
}
@font-face {
    font-family: 'opensans-italic';
    src:url(../font/OpenSans-Italic.ttf);
}
@font-face {
    font-family: 'opensans-light';
    src:url(../font/OpenSans-Light.ttf);
}