@media only screen and (max-width: 768px) {
    .navbar__items--logo {
        visibility: hidden;
    }
    .networks {
        flex-direction: column;
        &__firstLine, &__secondLine {
            flex-direction: column;
        }
    }
    .form__head {
        flex-direction: column;
    }
    .field, textarea {
        width: 8em;
    }
    #footer .container {
        flex-direction: column;
    }
}