@font-face {
  font-family: 'dinot';
  src: url(../font/DINOT-Regular.otf);
}

@font-face {
  font-family: 'dinot-bold';
  src: url(../font/DINOT-Bold.otf);
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* 
* Gobal
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body,
html {
  font-family: dinot, Arial, Helvetica, sans-serif;
  font-size: 1.05em;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 2em;
  word-break: break-word;
  padding: 1em 0em;
}

p {
  padding-bottom: 1em;
  font-weight: 100;
}

img,
iframe {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #A51E1D;
  -webkit-transition: color 0.08s ease-out 0.08s;
  transition: color 0.08s ease-out 0.08s;
}

a:hover {
  color: #195F82;
}

body {
  -webkit-font-smoothing: antialiased;
}

.card__info button {
  border: none;
  outline: none;
  border-radius: 3px;
  background: white;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  padding: 0.5em;
}

.card__info button:hover {
  background-color: #195F82;
}

.card__info button:hover a {
  color: white;
}

.card__info button a {
  color: black;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

#submit {
  height: 2.4em;
  width: 5em;
  background-color: white;
  color: black;
  padding: 5px;
  border: 1px solid black;
  border-radius: 2px;
  -webkit-transition: background-color 0.1s ease-out 0.1s, color 0.1s ease-out 0.1s, border 0.1s ease-out 0.1s;
  transition: background-color 0.1s ease-out 0.1s, color 0.1s ease-out 0.1s, border 0.1s ease-out 0.1s;
}

#submit:hover {
  background-color: #195F82;
  border: 1px solid #195F82;
  border-radius: 2px;
  color: white;
}

.card {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  padding: 1.5rem;
  margin: 30px;
  background: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  -webkit-box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.card:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.card:hover:before {
  opacity: 1;
}

.card:hover .card__info {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.card__info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card__info h2 {
  margin: 0px;
  font-size: 1.2em;
  padding: 0;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5em;
  background-image: -webkit-gradient(linear, left top, right top, from(#195F82), to(#A51E1D));
  background-image: linear-gradient(to right, #195F82, #A51E1D);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  z-index: 10;
}

.navbar.show .l1 {
  -webkit-transform: translate(-10px) rotate(45deg) translate(15px);
          transform: translate(-10px) rotate(45deg) translate(15px);
}

.navbar.show .l2 {
  opacity: 0;
}

.navbar.show .l3 {
  -webkit-transform: translate(-10px) rotate(-45deg) translate(15px);
          transform: translate(-10px) rotate(-45deg) translate(15px);
}

.navbar.show .navbar__items--links {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.navbar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  max-width: 60%;
  height: 5em;
  margin: 0 auto;
  padding: 0;
  z-index: 10;
}

.navbar__items--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 60%;
  width: 50%;
  height: 5em;
  margin: 0;
  padding: 0;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.navbar__items--links a {
  color: white;
  font-weight: 100;
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1em;
  padding-left: 1em;
  -webkit-transition: color 0.08s ease-out 0.08s;
  transition: color 0.08s ease-out 0.08s;
}

.navbar__items--links a:hover {
  color: #217ead;
}

.navbar__items--logo {
  margin: 0;
  padding: 0;
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__items--logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  height: 25%;
}

.burger {
  display: none;
  padding: 0.5rem;
  margin-right: 20px;
  cursor: pointer;
  z-index: 10;
}

.burger .line {
  height: 2px;
  width: 35px;
  margin: 0.5rem 0;
  background: white;
  -webkit-transition: opacity 0.75s ease, -webkit-transform 0.75s ease;
  transition: opacity 0.75s ease, -webkit-transform 0.75s ease;
  transition: transform 0.75s ease, opacity 0.75s ease;
  transition: transform 0.75s ease, opacity 0.75s ease, -webkit-transform 0.75s ease;
}

@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }
  .navbar__items--links {
    position: fixed;
    top: 8vh;
    right: 0;
    height: 92vh;
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-image: -webkit-gradient(linear, left top, right top, from(#195F82), to(#A51E1D));
    background-image: linear-gradient(to right, #195F82, #A51E1D);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  }
}

section.fixed {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 1;
}

section.fixed.f1 {
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
}

section.fixed.f1::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-image: url("../images/mountain.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

section.fixed.f1 img {
  position: relative;
  width: 40%;
  height: 40%;
}

section.scroll {
  padding: 2em 0;
  z-index: 2;
}

section.scroll.s1 {
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  background-color: #323232;
}

section.scroll.s2 {
  margin-bottom: 8em;
}

section.scroll.s3 {
  padding: 0;
  padding-bottom: 8em;
}

.container {
  margin: 0 auto;
  max-width: 60%;
  width: 60%;
}

footer {
  background-color: #323232;
  color: black;
}

footer a {
  color: black;
}

footer a:hover {
  color: black;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form .field {
  color: black;
  border: 1px solid black;
  border-radius: 2px;
  height: 2.4em;
  width: 23em;
  padding: 5px;
  margin-bottom: 1em;
  outline: none;
}

.form .field:focus {
  border: 1px solid #195F82;
  border-radius: 2px;
}

.form textarea {
  color: black;
  border: 1px solid black;
  border-radius: 2px;
  width: 23em;
  padding: 5px;
  margin-bottom: 1em;
  outline: none;
  resize: none;
}

.form textarea:focus {
  border: 1px solid #195F82;
  border-radius: 2px;
}

.form__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.form__head .field {
  margin-right: 1em;
  width: 11em;
}

#networks .networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#networks .networks__firstLine, #networks .networks__secondLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer #contact__footer, #footer .partners {
  color: white;
}

#footer #contact__footer a, #footer .partners a {
  color: white;
  -webkit-transition: color 0.06s ease-out 0.06s;
  transition: color 0.06s ease-out 0.06s;
}

#footer #contact__footer a:hover, #footer .partners a:hover {
  color: #195F82;
}

h1 {
  position: relative;
}

h1::after {
  position: absolute;
  content: "";
  left: -0.02em;
  bottom: 37px;
  background-image: -webkit-gradient(linear, left top, right top, from(#195F82), to(#A51E1D));
  background-image: linear-gradient(to right, #195F82, #A51E1D);
  width: 2.5em;
  height: 0.15em;
  z-index: -1;
}

ol {
  padding-left: 1em;
}

#mission p {
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .navbar__items--logo {
    visibility: hidden;
  }
  .networks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .networks__firstLine, .networks__secondLine {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .field, textarea {
    width: 8em;
  }
  #footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */