#networks {
    .networks {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__firstLine, &__secondLine {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
}
#footer {
    .container {
        display: flex;
        justify-content: space-between;
    }
    #contact__footer, .partners {
        color: white;
        a {
            color: white;
            transition: color 0.06s ease-out 0.06s;
            &:hover {
                color: $sec-color;
            }
        }
    }
}

h1 {
    position: relative;
    &::after {
        position: absolute;
        content: "";
        left: -0.02em;
        bottom: 7px;
        @include gradient;
        width: 2.5em;
        height: 0.15em;
        z-index: -1;
    }
}

ol {
    padding-left: 1em;
}

#mission p {
    padding: 0;
}

#event h2 {
    padding-top: 0.4em;
    margin-bottom: 0;
}
.inspiration__images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: $content-width;
    margin: 0 auto;
    img {
        width: 70%;
        height: 70%;
        margin: 2em;
        transition: all 0.3s ease;
        &:hover {
            transform: scale(1.05);
        }
    }
}
.inspiration .form {
    margin-bottom: 4em;
}