/* 
* Gobal
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body,
html {
	font-family: dinot, Arial, Helvetica, sans-serif;
	font-size: 1.05em;
	height: 100%;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 2em;
	word-break: break-word;
	padding-top: 1.5em;
	margin-bottom: 0.5em;
}

p {
	padding-bottom: 1em;
	font-weight: 100;
}

img,
iframe {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: $first-color;
}

body {
	-webkit-font-smoothing: antialiased;
}