@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    section {
        display: flex;
        width: 122%;
    }
    .navbar {
        height: 3em;
        &__items--logo {
            visibility: hidden;
        }
    }
    #home__img {
        width: 90%;
        height: 90%;
    }
    .container {
        max-width: 90%;
        width: 90%
    }
    footer {
        width: 122%;
    }
}

@media only screen and (max-width: 767px) {
    .navbar {
        height: 3em;
        &__items--logo {
            visibility: hidden;
            }
    }
    .networks {
        flex-direction: column;
        &__firstLine, &__secondLine {
            flex-direction: column;
        }
    }
    .form__head {
        flex-direction: column;
    }
    #footer .container {
        flex-direction: column;
    }
    .container {
        max-width: 90%;
        width: 90%
    }
    #home__img {
        width: 90%;
        height: 90%;
    }
    form {
        width: 100%;
        #email, #msg {
            width: 100%;
        }
    }
    .error {
        h1 p {
        margin: 2em;
        }
    }
}
