.form {
    display: flex;
    justify-content: center;
    form {
        display: flex;
        flex-direction: column;
    }
    .field {
        color: black;
        @include form__border;
        height: 2.4em;
        width: 23em;
        padding: 5px;
        margin-bottom: 1em;
        outline: none;
        &:focus {
            @include form__border--focused;
        }
    }
    textarea {
        color: black;
        @include form__border;
        width: 23em;
        padding: 5px;
        margin-bottom: 1em;
        outline: none;
        resize: none;
        &:focus {
            @include form__border--focused;
        }
    }
    &__head {
        display: flex;
        flex-direction: row;
        .field {
            margin-right: 1em;
            width: 11em;
        }
    }
}