.navbar {
    display: flex;
    width: 100%;
    height: $nav-height;
    background-color: $first-color;
    align-items: center;
    z-index: 3;
    &__links {
        display: flex;
        flex-direction: row;
        max-width: $content-width;
        width: $content-width;
        height: $nav-height;
        margin: 0 auto;
        justify-content: flex-end;
        align-items: stretch;
        a {
            color: white;
            font-weight: 100;
            font-size: 1.2em;
            display: flex;
            align-items: center;
            padding-right: 1em;
            padding-left: 1em;
            transition: background-color 0.08s ease-out 0.08s;
            &:hover {
                background-color: $sec-color;
            }
        }
    }
}