.card__info {
    button {
        border: none;
        outline: none;
        border-radius: 3px;
        background: white;
        cursor: pointer;
        transition: 0.4s ease;
        padding: 0.5em;
        &:hover {
            background-color: $sec-color;
            a {
                color: white;
            }
        }
        a {
            color: black;
            transition: 0.4s ease;
        }
    }
}
#submit {
    height: 2.4em;
    width: 5em;
    background-color: $sec-color;
    color: white;
    padding: 5px;
    @include form__border;
    transition: background-color 0.1s ease-out 0.1s, color 0.1s ease-out 0.1s, border 0.1s ease-out 0.1s;
    &:hover {
        background-color: $over-color;
        @include form__border--focused;
        color: white;
    }
}

.standard_button {
    height: 2.4em;
    width: 12em;
    background-color: $sec-color;
    color: white;
    padding: 5px;
    @include form__border;
    transition: background-color 0.1s ease-out 0.1s, color 0.1s ease-out 0.1s, border 0.1s ease-out 0.1s;
    margin-bottom: 2em;
    &:hover {
        background-color: $over-color;
        @include form__border--focused;
        color: white;
    }
    a {
        color: white;
    }
}